<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ Config.get('app.url') }}/static/assets/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ Config.get('app.url') }}/static/assets/admin.css" rel="stylesheet">
</head>
<body>

<div class="container">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ route('admin.index') }}">
                    Founded In Macedonia
                </a>
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-left">
                    <li><a href="{{ route('admin.index') }}">Home</a></li>
                    <li><a href="{{ route('admin.startups.index') }}">Startups</a></li>
                    <li><a href="{{ route('admin.users.index') }}">Admin users</a></li>
                </ul>


                <ul class="nav navbar-nav navbar-right">

                    <li><a href="{{ route('auth.logout') }}"><i class="glyphicon glyphicon-user"></i> Logout</a></li>

                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>